body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;

}

.title{
  background-color: #777;
}
.dancer{
  border:5px solid yellow;
  border-radius:3px;
  position:absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 150px;
  background-image: url("img/subzero_demo.gif")
/*}

.subzero{*/
 
}

.selected{
  border-radius: 20px;
}

.kitana{
  background-image: url("img/kitana/kitana_whip.gif");
}

.kitana:hover{
  background-color: url("img/kitana/kitana_rewind.png");
}

.subZero{
  background-image: url('img/subzero/subzer_walk.gif');
}

.container {
  display: inline-grid grid;
  grid-template-columns: 15%  auto auto auto 15%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "header header header header header"
  "dancefloor dancefloor dancefloor"
  "dancefloor dancefloor dancefloor"
  "dancefloor dancefloor dancefloor"
  "footer footer footer footer  footer";
  /*align-items: center;*/
}

.dancefloor {
  /*grid-area: "dancefloor";*/
  background-image: url("img/background/temple.png");
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  height:32px;
  background-color: #555;
  grid-area: "footer";
}

.header {
  height:32px;
  background-color: #555;
  grid-area: "header";
}

.